@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 600px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 600px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    height: 600px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    height: 600px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
